* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.bg_white {
  background: white;
}
.bg_grey {
  background: #f3f5f9;
}
.color_blu {
  color: #031b4e;
}
.color_lightblu {
  color: rgba(3,27,78,.7);
}
.color_pallini {
  color: rgba(3,27,78,.7);
}
.color_blu_link {
  color: #0069ff;
}
.nav_fixed a {
  text-decoration: none;
}
/* Fixed */
.nav_fixed {
  width: 100%;
  height: 70px;
  position: fixed;
  top:0;
  left: 0;
  z-index: 1;
  line-height: 70px;
  border-bottom: 1px solid lightgrey;
}
.img_fixed {
  height: 35px;
  margin-bottom: 10px;
  margin-right: 70px;
}
.nav_fixed_left li:nth-child(4) {
  margin: 0px 30px;
}
.nav_fixed_left li:nth-child(7) {
margin-left: 30px;
}
.nav_fixed_left li:nth-child(3), .nav_fixed_left li:nth-child(6) {
  margin-left: -10px;
}
.nav_fixed_right li {
  margin: 0 10px;
}
.nav_fixed_right li:nth-child(3) {
  margin-left: -20px;
}
.btn_fixed {
  border-radius: 5px;
  border: 1px solid #0069ff;
  color: #0069ff;
  padding: 7px 20px;
  transition: 1s;
}
.btn_fixed:hover {
  background: #0069ff;
  color: white;
}
.nav_fixed_right {
  text-align: right;
}
.menu_hamburger {
  display: none;
}
@media screen and (max-width: 1200px){
  .nav_fixed_left a, .nav_fixed_right a {
    display: none;
  }
  .menu_hamburger {
    display: inline-block;
  }
}
/* Section1 */
.section1 {
  width: 100%;
  height: 650px;
  margin-top: 70px;
  background-image: url('background- blu.svg');
  background-repeat: no-repeat;
  background-size: cover;
}
