* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.bg_white {
  background: white;
}
.bg_grey {
  background: #f3f5f9;
}
.bg_blue {
  background: #0069ff;
}
.bg_pallino {
  background: #0069ff;
}
.color_white {
  color: white;
}
.color_blu {
  color: #031b4e;
}
.color_grey {
  color: #757575;
}
.color_lightblu {
  color: rgba(3,27,78,.7);
}
.color_pallini {
  color: #0069ff;
}
.color_blu_link {
  color: #0069ff;
}
.nav_fixed a, .b_tn a {
  text-decoration: none;
}
/* Fixed */
.nav_fixed {
  width: 100%;
  height: 70px;
  position: fixed;
  top:0;
  left: 0;
  z-index: 1;
  line-height: 70px;
  border-bottom: 1px solid lightgrey;
}
.img_fixed {
  height: 35px;
  margin-bottom: 10px;
  margin-right: 70px;
}
.nav_fixed_left li:nth-child(4) {
  margin: 0px 30px;
}
.nav_fixed_left li:nth-child(7) {
margin-left: 30px;
}
.nav_fixed_left li:nth-child(3), .nav_fixed_left li:nth-child(6) {
  margin-left: -10px;
}
.nav_fixed_right li {
  margin: 0 10px;
}
.nav_fixed_right li:nth-child(3) {
  margin-left: -20px;
}
.btn_fixed {
  border-radius: 5px;
  border: 1px solid #0069ff;
  color: #0069ff;
  padding: 7px 20px;
  transition: 1s;
}
.btn_fixed:hover {
  background: #0069ff;
  color: white;
}
.nav_fixed_right {
  text-align: right;
}
.menu_hamburger {
  display: none;
}
@media screen and (max-width: 1200px){
  .nav_fixed_left a, .nav_fixed_right a {
    display: none;
  }
  .menu_hamburger {
    display: inline-block;
  }
}
/* Section1 */
.section1 {
  width: 100%;
  margin-top: 70px;
  background-image: url('background- blu.svg');
  background-repeat: no-repeat;
  background-size: cover;
}
.section1 h1 {
  font-size: 60px;
  padding-top: 120px;
  text-align: left;
}
.section1 p {
  font-size: 20px;
  padding-top: 20px;
  opacity: .8;
  text-align: left;
}
.sectio1_right {
  width: 100%;
  height: 450px;
  border-radius: 5px;
  margin: 120px 0;
  padding-top: 15px;
}
.sectio1_right h2, span {
  font-size: 30px;
  font-weight: 700;
}
.form-control {
  display: inline;
  width: 80%;
  height: 40px;
  margin-top: 15px;
}
.b_tn {
  width: 80%;
  height: 50px;
  margin-top: 15px;
  display: inline-block;
  border-radius: 4px;
}
.b_tn a {
  line-height: 50px;
  font-size: 15px;
  font-weight: 700;
}
.sign {
  border: 1px solid lightgrey;
  position: relative;
  cursor: pointer;
}
.account {
  cursor: pointer;
}
.sign img {
  height: 30px;
  width: 30px;
  display: inline-block;
  position: absolute;
  left: 0;
  margin: 10px 50px;
}
.sign a {
  padding: 20px;
}
.account:hover {
  background: blue;
}
.sign:hover {
  background: lightgrey;
}
.sectio1_right_small {
  margin-top: 25px;
}
@media screen and (max-width: 992px) {
  .section1 h1 {
    font-size: 45px;
    padding-top: 120px;
  }
  .section1 p {
    font-size: 20px;
    padding-top: 20px;
    opacity: .8;
  }
}
/* Section2 */
.section2 {
  width: 100%;
  height: auto;
}
.section2 h2{
  opacity: .4;
  font-size: 15px;
  margin-top: 70px;
}
.icone img {
 width: 130px;
 margin: 0 20px;
}
.section2_link {
margin-bottom: 30px;
font-size: 17px;
}
.section2_link > a {
  text-decoration: none;
}
.section2_link a:last-child {
margin-left: 10px;
}
@media screen and (max-width: 1200px) {
  .list_icon {
    width: 30%;
  }
}
/* section3 */
.section3 {
  width: 100%;
  margin-bottom: 50px;
}
.section3 p {
  color: rgba(3,27,78,.7);
}
.section3 h3 {
  color: #031b4e;
  font-size: 20px;
  font-weight: 400;
}
.section3 h2 {
  font-size: 35px;
  font-weight: 700;
  margin-top: 70px;
}
.s3_paragraf {
  font-size: 20px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 70px;
}
.section3_item {
  border-left: 2px solid lightgrey;
  padding: 0 50px;
}
.section3_list {
  list-style: none;
}
.linea {
  height: 300px;
  width: 2px;
  background: lightgrey;
  float: left;
  margin-right: 10px;
}
.section3_list li {
  margin: 40px 0;
  font-size: 20px;
  font-weight: 400;
}
.section3_list li:first-child {
  margin-top: 0;
}
.section3_list a {
  text-decoration: none;
  color: rgba(3,27,78,.7);
}
.section3_list a:hover {
  color: #031b4e;
}
.section3_left {
  margin-left: 180px;
}
.section3_right_top, .section3_right_bottom, .section3_central_top, .section3_central_bottom p {
  font-size: 15px;
  font-weight: 400;
}
.section3_right_top {
  margin-bottom: 70px;
}
.section3_central_top {
  margin-bottom: 50px;
}
@media screen and (max-width: 992px) {
  .section3_list {
  width: 100%;
  }
  .section3_left {
    margin-left: 0;
  }
}
/* Section4 */
.section4 {
  width: 100%;
}
.section4 h2, .section5 h2 {
  font-size: 35px;
  font-weight: 700;
  margin-top: 70px;
}
.section4 p {
  font-size: 20px;
  font-weight: 400;
  color: rgba(3,27,78,.7);
  padding: 20px;
}
.section4 img {
  width: 70%;
}
.minore, .maggiore {
  text-decoration: none;
  font-size: 30px;
  padding: 10px;
}
.section4 a {
  text-decoration: none
}
.circle {
  border: 2px solid #0069ff;
  border-radius: 100%;
  width: 10px;
  height: 10px;
  display: inline-block;
  text-align: center;
  margin: 20px 5px;
  cursor: pointer;
  margin-bottom: 70px;
}
.circle:hover {
  background: #0069ff;
}
/* Section5 */
.section5 {
  width: 100%;
  margin-bottom: 70px;
}
.section5 p {
  color: rgba(3,27,78,.7);
}
.section5 img {
  margin-top: 50px;
}
.section5 h3 {
  font-size: 20px;
}
/* Section6 */
.section6 {
  width:100%;
  height: 700px;
  background: url('map.svg'),
  linear-gradient(180deg,#0047c6 0,#001d99);
  background-repeat: no-repeat;
  background-position: center;
}
.section6 h2 {
  font-size: 35px;
  margin-top: 70px;

}
